<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Apteka</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<header style="padding: 10px 0 10px 0" class="bg-primary">
	<div class="container-xxl">
		<div class="d-flex justify-content-between align-items-center">
			<div>
				<a href="/" class="text-bg-primary fs-3 fw-bold text-decoration-none">АПТЕКА</a>
			</div>
			<div>
				<ul style="list-style: none; padding: 0; margin: 0" class="d-flex justify-content-between gap-5 align-items-center">
					<li><a class="text-bg-primary fs-5 text-decoration-none" href="/catalog">Все товары</a></li>
					<li><a class="text-bg-primary fs-5 text-decoration-none" href="/medicines">Лекарства</a></li>
					<li><a class="text-bg-primary fs-5 text-decoration-none" href="/supplements">БАДы</a></li>
					<li><a class="text-bg-primary fs-5 text-decoration-none" href="/disinfection">Средства дезинфекции</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<div class="container-xl">
	{{{body}}}
</div>

	<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>