<h2 class="text-center mb-5" style="margin-top: 250px">Войдите для просмотра и редактирования товаров</h2>
<div>
	<div class="text-center py-2">
		<a href="/catalog" style="min-width: 350px" class="d-inline-block text-decoration-none py-3 px-5 text-bg-primary bg-primary fs-4">Войти</a>
	</div>
</div>