<h2 class="text-center mb-5" style="margin-top: 250px">Войдите для просмотра и редактирования товаров</h2>
<div class="container-xxl">
	<form method="POST" class="d-grid gap-2 offset-sm-4 col-sm-4">
		<input class="form-control form-control-lg" type="password" name="password" placeholder="Пароль">
		<input class="btn btn-primary btn-lg" type="submit" value="Войти">
	</form>
	<div class="text-center py-2">
		<a href="/catalog" style="min-width: 350px" class="d-inline-block text-decoration-none py-3 px-5 text-bg-primary bg-primary fs-4">Войти</a>
	</div>
</div>