<h2 class="text-center mb-5" style="margin-top: 250px">Войдите для просмотра и редактирования товаров</h2>
<div class="container-xxl">
	<form method="POST" class="d-grid gap-2 offset-sm-4 col-sm-4">
		<input class="form-control form-control-lg" type="password" name="password" placeholder="Пароль 123!!">
		<input class="btn btn-primary btn-lg" type="submit" value="Войти">
	</form>
</div>