<h1 class="text-center mb-5" style="margin-top: 120px">Каталог аптеки</h1>
<div>
	<div class="text-center py-2">
		<a href="/catalog" style="min-width: 350px" class="d-inline-block text-decoration-none py-3 px-5 text-bg-primary bg-primary fs-4">Все товары</a>
	</div>
	<div class="text-center py-2">
		<a href="/medicines" style="min-width: 350px" class="d-inline-block text-decoration-none py-3 px-5 text-bg-primary bg-primary fs-4">Лекарства</a>
	</div>
	<div class="text-center py-2">
		<a href="/supplements" style="min-width: 350px" class="d-inline-block text-decoration-none py-3 px-5 text-bg-primary bg-primary fs-4">БАДы</a>
	</div>		
	<div class="text-center py-2">
		<a href="/disinfection" style="min-width: 350px" class="d-inline-block text-decoration-none py-3 px-5 text-bg-primary bg-primary fs-4">Средства дезинфекции</a>
	</div>
</div>